﻿@page
@model FileUploadDemo.Pages.UploadModel
@{
    ViewData["Title"] = "Upload";
}

<h1>Upload</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="FileUpload.Key" class="control-label"></label>
                <input asp-for="FileUpload.Key" class="form-control" />
                <span asp-validation-for="FileUpload.Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUpload.File" class="control-label"></label>
                <input asp-for="FileUpload.File" class="form-control-file" />
                <span asp-validation-for="FileUpload.File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>